# 通用编译/依赖项
**/[Bb]in/
**/[Oo]bj/
**/[Dd]ebug/
**/[Rr]elease/
**/packages/

# 全局忽略依赖项目录
**/node_modules/
**/packages/

# 项目特定目录
MobileMall/node_modules/
MobileMallWebApi/**/Logs/
MobileMallWebApi/MobileMallWebApi/StaticDataSource

# IDE配置
**/.vs/
**/.vscode/
**/.idea/
*.suo
*.user
*.iml

# VSCode
.vscode/

# 日志和临时文件
*.log
*.tmp
*.cache